flows_du_projet_Devsus_Hack4Earth.json
[
    {
        "id": "783c5ff3194e2db4",
        "type": "tab",
        "label": "Flux 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3c72c4b2ab531ce",
        "type": "ui_button",
        "z": "783c5ff3194e2db4",
        "name": "",
        "group": "9ecc6633810e039c",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": true,
        "label": "Trigger Alarm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"text\":\"Alarm Has been Triggered\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 180,
        "wires": [
            [
                "75db0e4678156f57",
                "24438ccc6e90144f",
                "72f2f51cd3fd1010"
            ]
        ]
    },
    {
        "id": "c1ff24999a6232df",
        "type": "inject",
        "z": "783c5ff3194e2db4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Alarm Off",
        "payloadType": "str",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "10d4ef28cf3c4a5d"
            ]
        ]
    },
    {
        "id": "9cdef7908153f045",
        "type": "ui_toast",
        "z": "783c5ff3194e2db4",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 870,
        "y": 100,
        "wires": []
    },
    {
        "id": "10d4ef28cf3c4a5d",
        "type": "ui_button",
        "z": "783c5ff3194e2db4",
        "name": "",
        "group": "9ecc6633810e039c",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": true,
        "label": "Alarm Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"text\":\"Alarm OFF\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 60,
        "wires": [
            [
                "24438ccc6e90144f",
                "72f2f51cd3fd1010",
                "75db0e4678156f57"
            ]
        ]
    },
    {
        "id": "f945c66b74939f30",
        "type": "ui_slider",
        "z": "783c5ff3194e2db4",
        "name": "",
        "label": "Pression",
        "tooltip": "",
        "group": "9ecc6633810e039c",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "Turbulation",
        "topicType": "msg",
        "min": 0,
        "max": "10000",
        "step": "100",
        "className": "",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "a2be1f5406cf2334",
                "3702b4d3ff743c7b",
                "f138cb8041e3c2b2",
                "8581e413e815c794",
                "35fc71a0c2d7b77d",
                "79ba984d3d1131f3"
            ]
        ]
    },
    {
        "id": "8493be086dbf0f7e",
        "type": "inject",
        "z": "783c5ff3194e2db4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Pression",
        "payload": "5",
        "payloadType": "num",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "f945c66b74939f30"
            ]
        ]
    },
    {
        "id": "a57da539964b74ba",
        "type": "inject",
        "z": "783c5ff3194e2db4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "debitmetre",
        "payload": "10",
        "payloadType": "num",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "f945c66b74939f30",
                "a3c72c4b2ab531ce"
            ]
        ]
    },
    {
        "id": "28bccc9f99a04d6e",
        "type": "inject",
        "z": "783c5ff3194e2db4",
        "name": "CO2 sensor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Sensor1",
        "payload": "2",
        "payloadType": "num",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "936a3235fe9c8c1a",
                "a3c72c4b2ab531ce"
            ]
        ]
    },
    {
        "id": "60997bef8e3ad57f",
        "type": "inject",
        "z": "783c5ff3194e2db4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "topic": "Temperature",
        "payload": "7",
        "payloadType": "num",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "f7ec347b668dca6e"
            ]
        ]
    },
    {
        "id": "1223d9a4fd6b09c8",
        "type": "inject",
        "z": "783c5ff3194e2db4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "gas volume flow",
        "payload": "40",
        "payloadType": "num",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "f9558f38fa3e1a60"
            ]
        ]
    },
    {
        "id": "d2aaf51e39992f30",
        "type": "debug",
        "z": "783c5ff3194e2db4",
        "name": "debug 48",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 220,
        "wires": []
    },
    {
        "id": "75db0e4678156f57",
        "type": "function",
        "z": "783c5ff3194e2db4",
        "name": "function 2",
        "func": "msg.payload = msg.payload.text;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 40,
        "wires": [
            [
                "9cdef7908153f045"
            ]
        ]
    },
    {
        "id": "24438ccc6e90144f",
        "type": "ui_text",
        "z": "783c5ff3194e2db4",
        "group": "9ecc6633810e039c",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Alarm",
        "format": "{{msg.payload.text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 930,
        "y": 140,
        "wires": []
    },
    {
        "id": "a2be1f5406cf2334",
        "type": "function",
        "z": "783c5ff3194e2db4",
        "name": "function 3",
        "func": "if(msg.payload > 7 && msg.payload < 9 )\n{\n    msg.payload = \"Dangerous\" \n}\nelse if (msg.payload >= 9)\n{\n    msg.payload = 10;\n    return msg;\n}\n{\n    msg.payload = \"Balanced\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 160,
        "wires": [
            [
                "d2aaf51e39992f30",
                "24438ccc6e90144f",
                "bfdc657123fd66d6"
            ]
        ]
    },
    {
        "id": "bfdc657123fd66d6",
        "type": "ui_text",
        "z": "783c5ff3194e2db4",
        "group": "9ecc6633810e039c",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "fa4157b65b301f99",
        "type": "ui_switch",
        "z": "783c5ff3194e2db4",
        "name": "",
        "label": "Safety Switch",
        "tooltip": "",
        "group": "9ecc6633810e039c",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "21f14c7ff32a306f"
            ]
        ]
    },
    {
        "id": "21f14c7ff32a306f",
        "type": "function",
        "z": "783c5ff3194e2db4",
        "name": "function 5",
        "func": "if (msg.payload == true)\n{\n    msg.payload = 1;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 420,
        "wires": [
            [
                "f945c66b74939f30"
            ]
        ]
    },
    {
        "id": "f138cb8041e3c2b2",
        "type": "ui_text",
        "z": "783c5ff3194e2db4",
        "group": "9ecc6633810e039c",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Monitoring",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "3702b4d3ff743c7b",
        "type": "debug",
        "z": "783c5ff3194e2db4",
        "name": "debug 51",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 240,
        "wires": []
    },
    {
        "id": "72f2f51cd3fd1010",
        "type": "debug",
        "z": "783c5ff3194e2db4",
        "name": "debug 52",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "7edaab45fb34392d",
        "type": "ui_chart",
        "z": "783c5ff3194e2db4",
        "name": "",
        "group": "cc62fcfe661f0655",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "Line Chart ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "7d6cf31d1c8bbaa3",
        "type": "ui_chart",
        "z": "783c5ff3194e2db4",
        "name": "",
        "group": "5ac18f0029cf9ee7",
        "order": 1,
        "width": "6",
        "height": "4",
        "label": "",
        "chartType": "horizontalBar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c714e38a91a2008f",
        "type": "ui_gauge",
        "z": "783c5ff3194e2db4",
        "name": "",
        "group": "7c29a79714c72fad",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "8581e413e815c794",
        "type": "function",
        "z": "783c5ff3194e2db4",
        "name": "function 4",
        "func": "if(msg.payload > \"6\" && msg.payload<\"9\")\n{\n    msg.payload = \"Dangerous\";\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 220,
        "wires": [
            [
                "9cdef7908153f045"
            ]
        ]
    },
    {
        "id": "35fc71a0c2d7b77d",
        "type": "switch",
        "z": "783c5ff3194e2db4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "9",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 120,
        "wires": [
            [
                "a3c72c4b2ab531ce"
            ],
            [
                "10d4ef28cf3c4a5d"
            ]
        ]
    },
    {
        "id": "0f34b61d2fde59dc",
        "type": "ui_chart",
        "z": "783c5ff3194e2db4",
        "name": "",
        "group": "2e4cc47d486a41c9",
        "order": 1,
        "width": 6,
        "height": 5,
        "label": "",
        "chartType": "horizontalBar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff8382",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#0091ff",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "79ba984d3d1131f3",
        "type": "ui_chart",
        "z": "783c5ff3194e2db4",
        "name": "",
        "group": "50aeda3a8ce13ae0",
        "order": 1,
        "width": 6,
        "height": 5,
        "label": "",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "fd8b4eb33e3f1b06",
        "type": "ui_button",
        "z": "783c5ff3194e2db4",
        "name": "",
        "group": "9ecc6633810e039c",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": true,
        "label": "Shut Down",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"text\":\"Alarm Has been Triggered\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 850,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e364237010ea4930",
        "type": "ui_button",
        "z": "783c5ff3194e2db4",
        "name": "",
        "group": "9ecc6633810e039c",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": true,
        "label": "Switch",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"text\":\"Alarm OFF\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "f9558f38fa3e1a60",
        "type": "ui_slider",
        "z": "783c5ff3194e2db4",
        "name": "",
        "label": "gas volume flow",
        "tooltip": "",
        "group": "9ecc6633810e039c",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "Turbulation",
        "topicType": "msg",
        "min": 0,
        "max": "10000",
        "step": "50",
        "className": "",
        "x": 360,
        "y": 380,
        "wires": [
            [
                "7d6cf31d1c8bbaa3"
            ]
        ]
    },
    {
        "id": "936a3235fe9c8c1a",
        "type": "ui_slider",
        "z": "783c5ff3194e2db4",
        "name": "",
        "label": "CO2 concentration",
        "tooltip": "",
        "group": "9ecc6633810e039c",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "Turbulation",
        "topicType": "msg",
        "min": 0,
        "max": "5000",
        "step": "50",
        "className": "",
        "x": 370,
        "y": 340,
        "wires": [
            [
                "7edaab45fb34392d",
                "c714e38a91a2008f"
            ]
        ]
    },
    {
        "id": "f7ec347b668dca6e",
        "type": "ui_slider",
        "z": "783c5ff3194e2db4",
        "name": "",
        "label": "Temperature",
        "tooltip": "",
        "group": "9ecc6633810e039c",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "end",
        "topic": "Turbulation",
        "topicType": "msg",
        "min": 0,
        "max": "1000",
        "step": "5",
        "className": "",
        "x": 370,
        "y": 300,
        "wires": [
            [
                "0f34b61d2fde59dc"
            ]
        ]
    },
    {
        "id": "b36204b249e17f45",
        "type": "ui_spacer",
        "z": "783c5ff3194e2db4",
        "name": "spacer",
        "group": "a1e2c7829de83a4c",
        "order": 2,
        "width": 18,
        "height": 1
    },
    {
        "id": "e13ae506145acc42",
        "type": "ui_spacer",
        "z": "783c5ff3194e2db4",
        "name": "spacer",
        "group": "a1e2c7829de83a4c",
        "order": 4,
        "width": 18,
        "height": 1
    },
    {
        "id": "8fa577b11c499adf",
        "type": "ui_spacer",
        "z": "783c5ff3194e2db4",
        "name": "spacer",
        "group": "a1e2c7829de83a4c",
        "order": 5,
        "width": 18,
        "height": 1
    },
    {
        "id": "e715d6eb2c79c5b0",
        "type": "ui_spacer",
        "z": "783c5ff3194e2db4",
        "name": "spacer",
        "group": "a1e2c7829de83a4c",
        "order": 7,
        "width": 13,
        "height": 1
    },
    {
        "id": "9a9aabf8bc5ac367",
        "type": "ui_spacer",
        "z": "783c5ff3194e2db4",
        "name": "spacer",
        "group": "a1e2c7829de83a4c",
        "order": 8,
        "width": 13,
        "height": 1
    },
    {
        "id": "5408d609cf1d1b9b",
        "type": "ui_spacer",
        "z": "783c5ff3194e2db4",
        "name": "spacer",
        "group": "a1e2c7829de83a4c",
        "order": 9,
        "width": 13,
        "height": 1
    },
    {
        "id": "77337641b79e1f1b",
        "type": "ui_spacer",
        "z": "783c5ff3194e2db4",
        "name": "spacer",
        "group": "a1e2c7829de83a4c",
        "order": 12,
        "width": 18,
        "height": 1
    },
    {
        "id": "3f292f3499f82351",
        "type": "ui_spacer",
        "z": "783c5ff3194e2db4",
        "name": "spacer",
        "group": "a1e2c7829de83a4c",
        "order": 13,
        "width": 18,
        "height": 1
    },
    {
        "id": "2ae65ba0f4796412",
        "type": "ui_spacer",
        "z": "783c5ff3194e2db4",
        "name": "spacer",
        "group": "a1e2c7829de83a4c",
        "order": 16,
        "width": 18,
        "height": 1
    },
    {
        "id": "9ecc6633810e039c",
        "type": "ui_group",
        "name": "Control",
        "tab": "33ec5d00f1fe4a28",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc62fcfe661f0655",
        "type": "ui_group",
        "name": "CO2 Emissions",
        "tab": "33ec5d00f1fe4a28",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ac18f0029cf9ee7",
        "type": "ui_group",
        "name": "Gas volume flow",
        "tab": "33ec5d00f1fe4a28",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7c29a79714c72fad",
        "type": "ui_group",
        "name": "CO2 concentration",
        "tab": "33ec5d00f1fe4a28",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2e4cc47d486a41c9",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "33ec5d00f1fe4a28",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "50aeda3a8ce13ae0",
        "type": "ui_group",
        "name": "Pressure",
        "tab": "33ec5d00f1fe4a28",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a1e2c7829de83a4c",
        "type": "ui_group",
        "name": "our dashboard",
        "tab": "115ae598df471dab",
        "order": 1,
        "disp": true,
        "width": 18,
        "collapse": false,
        "className": ""
    },
    {
        "id": "33ec5d00f1fe4a28",
        "type": "ui_tab",
        "name": "Real Time Monitoring",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "115ae598df471dab",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]